/* Footer */

.footer-container {
  margin: 0 auto;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social img {
  height: auto;
  width: 5rem;
}

.social img:hover {
  -webkit-transform: rotateZ(-10deg);
  -ms-transform: rotateZ(-10deg);
  transform: rotateZ(-10deg);
  transition: 0.5s ease;
}
