/* Nav Bar */

.navbar {
  width: 100%;
  height: auto;
  background-color: var(--color-third);
  padding: 0.7rem;
  box-shadow: var(--shadow);
}

.navbar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.navbar ul {
  display: flex;
}

.navbar li {
  margin: 0 1rem;
  font-weight: bold;
}

.navbar a {
  text-decoration: none;
}

.navbar a:hover {
  color: var(--color-primary);
}

.navbar-brand img {
  width: 4rem;
  height: auto;
}

.navbar-brand img:hover {
  -webkit-transform: rotateZ(-10deg);
  -ms-transform: rotateZ(-10deg);
  transform: rotateZ(-10deg);
  transition: 0.5s ease;
}

.navbar-nav-left {
  text-transform: uppercase;
  flex: 1;
  margin-left: 3rem;
}

.navbar-nav-right img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.navbar-nav-right li:first-child a {
  display: flex;
  align-items: center;
}

.navbar-nav-right img:hover {
  -webkit-transform: rotateZ(-10deg);
  -ms-transform: rotateZ(-10deg);
  transform: rotateZ(-10deg);
  transition: 0.5s ease;
}
