/* Hamburger Menu - Mobile Navbar */

.hamburger {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  position: relative;
  background: none;
  border: none;
  z-index: 10;
  transition: all 0.25s;
  display: none;
}

.hamburger-top,
.hamburger-middle,
.hamburger-bottom {
  position: absolute;
  top: 0;
  left: 0;
  width: 1.5rem;
  height: 0.1rem;
  background: black;
  transform: rotate(0);
  transition: all 0.5s;
}

.hamburger-middle {
  transform: translateY(0.5rem);
}

.hamburger-bottom {
  transform: translateY(1rem);
}

.open .hamburger-top {
  transform: rotate(45deg) translateY(0.5rem) translateX(0.5rem);
}

.open .hamburger-middle {
  display: none;
}

.open .hamburger-bottom {
  transform: rotate(-45deg) translateY(0.5rem) translateX(-0.5rem);
}

.mobile-menu {
  position: fixed;
  background-color: var(--color-third);
  right: 0;
  top: 4.5rem;
  padding: 2rem;
  width: 90%;
  height: 100%;
  box-shadow: var(--shadow);
  transition: all 0.3s;
}

.mobile-menu img {
  width: 2rem;
  height: auto;
}

.mobile-menu ul {
  line-height: 3;
  border-bottom: gray solid 1px;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
}

.mobile-menu a {
  text-decoration: none;
}

.mobile-menu a:hover {
  color: var(--color-primary);
}

.mobile-menu div {
  margin-top: 1rem;
}

.mobile-menu div a {
  display: flex;
  align-items: center;
}

.hidden {
  transform: translateX(100%);
}
.no-scroll {
  overflow: hidden;
}
