@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

/* 3 Design Colors */

:root {
  --color-primary: #794350;
  --color-primary-2: #edbfca;
  --color-secondary: #cc9767;
  --color-third: #ffecd9;
  --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

/* Base Body Style */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  color: #000;
}

a {
  color: #000;
}

ul {
  list-style: none;
}

p {
  margin: 0.5rem 0rem;
  line-height: 1.7;
}

img {
  max-width: 100%;
}

.section a {
  color: white;
}

/* Box */

.box {
  margin-bottom: 2rem;
}

.box-inner {
  max-width: 700px;
  margin: 0 auto;
}

/* Background */
.bg-primary {
  background-color: var(--color-primary);
  color: white;
}

.bg-secondary {
  background-color: var(--color-secondary);
  color: white;
}

/* Grid Box */

.grid-col-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
}

.box-text {
  margin: 2rem;
  justify-self: center;
}

.box img {
  object-fit: cover;
  height: 20rem;
  width: 100%;
}

.grid-reversed :first-child {
  order: 2;
}
