/* Text Styling */

.text-center {
  text-align: center;
}

.text-xl {
  font-size: 2rem;
}

.text-lg {
  font-size: 1.5rem;
}

.text-md {
  font-size: 1.2rem;
}

.text-sm {
  font-size: 1rem;
  padding: 0.8rem;
}

.title {
  text-align: center;
  color: var(--color-secondary);
  padding: 1.5rem;
}
