/* Variables */

:root {
  --titleImageUrl: url("https://images.pexels.com/photos/1789925/pexels-photo-1789925.jpeg?auto=compress&cs=tinysrgb&w=600");
  --gridHeight: 250px;
  --shadow: 0 3px 10px rgba(104, 104, 104, 0.3);
}

/* Main Styles */

.address {
  background-color: rgba(200, 200, 200, 0.1);
  /* border: 3px solid #f1f1f1; */
  padding-top: 10%;
  text-align: center;
  font-size: 1.5rem;
  height: var(--gridHeight);
  box-shadow: var(--shadow);
}

.gridText {
  background-color: rgba(200, 200, 200, 0.1);
  /* border: 3px solid #f1f1f1; */
  text-align: center;
  font-size: 1.5rem;
  padding: 2%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: var(--shadow);
}

.gridImage {
  box-shadow: var(--shadow);
  width: 100%;
}

.titleText {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-weight: bold;
  border: 3px solid #f1f1f1;
  position: relative;
  transform: translate(50%, -150%);
  width: 50%;
  padding: 20px;
  text-align: center;
  font-size: 5rem;
  font-family: Tangerine;
}

@media (min-width: 760px) and (max-width: 1000px) {
  .titleText {
    font-size: 4rem;
  }
}

@media (max-width: 760px) {
  .titleText {
    font-size: 3rem;
  }
}

.flexItem {
  width: 5rem;
  height: auto;
  margin: 1rem;
  box-shadow: var(--shadow);
}

.flexItem img:hover {
  -webkit-transform: rotateZ(-10deg);
  -ms-transform: rotateZ(-10deg);
  transform: rotateZ(-10deg);
  transition: 0.5s ease;
}

/* Title, Home Page */

.titleImage {
  width: 100%;
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(2px);
  background-image: var(--titleImageUrl);
}
